<md-dialog aria-label="Forgot password" 
           ng-cloak 
           ng-controller="ToolbarCtrl">
    <form>
        <md-dialog-content layout-padding 
                           layout="column">
            <p>Ça arrive à tout le monde ! Nous allons vous envoyer la marche à suivre par e-mail. C'est simple et rapide.</p>
            <span layout="row">
                <md-input-container flex>
                    <label>Votre Email</label>
                    <input type="text"
                           ng-model="email"
                           placeholder="Adresse e-mail" 
                           required>
                </md-input-container>
            </span>
            <md-button class="md-primary md-raised" 
                       ng-click="sendMailForNewPassword($event)">
                Envoyer
            </md-button>
        </md-dialog-content>
    </form>
</md-dialog>