<md-dialog aria-label="Validation" 
           ng-cloak 
           ng-controller="ProjectController">
    <md-dialog-content layout-padding 
                       layout="column"
                       layout-wrap>
        <h2 flex>Validation du projet {{projet.Title}}</h2>
        <md-input-container> 
            <label>Choisissez le développeur auquel vous avez donné ce projet :</label>
            <md-select ng-model="developperChoose" 
                       placeholder="Choisissez le développeur auquel vous avez donné ce projet">
                <md-option ng-repeat="applicant in applicants" 
                           ng-value="applicant.UniqId">
                    {{applicant.FirstName}} {{applicant.LastName}} ({{applicant.Login}})
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised md-primary" 
                       ng-click="ValidateProject()">
                Valider
            </md-button>
        </md-input-container>
    </md-dialog-content>
</md-dialog>