<!--<md-card id="templateindexcard" class="md-whiteframe-z2" ng-cloak ng-controller="ProjectsController">-->
<div id="template-projects" 
     layout-padding>
    <h1>Les projets actuellement disponibles</h1>
    <h2>Nous avons actuellement {{countProjects}} projets correspondant à votre recherche</h2>
    <a href='#/search-projects/'>Voir tous les projets</a>
    <span layout="row" 
          layout-wrap 
          layout-margin
          layout-padding 
          layout-align="space-around left">
        <md-card-content class="md-whiteframe-z1" 
                         ng-repeat="projet in projects" 
                         layout-margin
                         layout-padding
                         flex-gt-sm="40" 
                         style="background-color: #F8F8FF; word-break: break-all;">
            <img src="{{projet.ImageUrl}}" 
                 alt="Image du projet" 
                 style="width: 200px; height: 200px;"/>
            <h3>{{projet.Title}}</h3>
            <h4>Par {{projet.userName}} 
            <md-icon md-svg-src="img/icons/calendar.svg"></md-icon> {{projet.Duration}} / {{projet.Budget}} 
            <md-icon md-svg-src="img/icons/money.svg"></md-icon>
            </h4>
            <p>{{projet.Description}}</p>
            <a ng-href="#/projects/{{projet.Id}}" 
               layout-align="bottom left">
               Voir les détails du projet
            </a>
        </md-card-content>
    </span>
</div>
<!--</md-card>-->