<div id="template-forgot-password" 
     layout-padding 
     ng-controller="UserController">
	<h1>Reset password</h1>
        <md-dialog-content layout-padding
                           layout="column" 
                           flex="40"
                           flex-offset="30" 
                           flex-offset-sm="5"
                           flex-sm="90" 
                           flex-offset-md="10" 
                           flex-md="80" >
            <md-input-container >
                <label>Mot de passe </label>
                <input ng-model="password" 
                       placeholder="Mot de passe" 
                       type="password"
                       required>
            </md-input-container>
            <md-input-container >
                <label>Vérification du mot de passe </label>
                <input ng-model="verif_password"
                       placeholder="Vérification du mot de passe" 
                       type="password" 
                       compare-to="password" 
                       required>
            </md-input-container>
            <div ng-if="fieldMissing || verif_password !== password ">
                <p class="error" 
                   ng-if="fieldMissing">
                    Au moins l'un des champs requis n'est pas renseigné
                </p>
                <p ng-if="verif_password !== password" 
                   class="error">
                    Les mots de passe doivent être identiques 
                </p>
            </div>
            <md-button class="md-primary md-raised"  
                       ng-click="resetPassword()">
                Mettre à jour
            </md-button>
        </md-dialog-content> 
</div>