<div id="template-projects" 
     layout-padding>
    <span layout="row" 
          layout-wrap 
          layout-margin
          layout-padding 
          layout-align="space-around left">
        <md-card-content class="md-whiteframe-z1" 
                         layout-margin
                         layout-padding
                         flex-gt-sm="40" 
                         style="background-color: #F8F8FF; word-break: break-all;" ng-click="UserManagement ()">
            <p layout-align="top center">Gestion des utilisateurs</p>
        </md-card-content>
    </span>
</div>